
body
{
	font-family: "Helvetica", Arial, sans-serif;
	background-color: black;
}

.ui-body-c, .ui-overlay-c { background-color: black; }

#showphoto
{
	margin:0, auto;
	background: black;
}
#showphoto img
{
	display: block;
	margin: 0, auto;
	max-width:1024px;
	width:100%;
	
}

#movieList
{
	font-family:sans-serif;
	color: Red;
	text-emphasis: none;
	text-shadow: none;
	text-decoration: none;
	text-indent: none;
	outline: inherit;
}

#movieList a
{
	font-family:sans-serif;
	color: Red;
	text-emphasis: none;
	text-shadow: none;
	
	text-indent: none;
	outline: inherit;
}

#photolist img
{
	width: 80px;
	-webkit-border-radius: 10px;
	-moz-border-radius:10px;
	-border-radius:10px;
	margin: 5px;
}

#photolist .ui-block-a,
#photolist .ui-block-b,
#photolist .ui-block-c,
{
	width: 100px;
	height:100px;
	align-content: center;
}

#photolist
{
	
	
	text-align: center;
	padding: 20 20 ;
}


#home 
{
	text-align: center;
	background: transparent url(../../images/Leather.jpg);
}

#home img
{
	text-align: center;
	padding-top: 50px;
	width:300px;
	height:300px;
	max-width: 400px;
	max-height: 400px;
	
	
}

.ui-controlgroup
{
	width: 70%;
	margin: 0 auto;
	margin-top: 30px;
	
}

#home p
{
	font-family:sans-serif;
	color: white;
	text-emphasis: none;
	text-shadow: none;
	text-decoration: none;
	text-indent: none;
	outline: inherit;
}

#gallery p
{
	font-family:sans-serif;
	color: white;
	text-emphasis: none;
	text-shadow: none;
	text-decoration: none;
	text-indent: none;
	outline: inherit;
}

#vgallery p
{
	font-family:sans-serif;
	color: white;
	text-emphasis: none;
	text-shadow: none;
	text-decoration: none;
	text-indent: none;
	outline: inherit;
}

#blog p
{
	font-family:sans-serif;
	color: white;
	text-emphasis: none;
	text-shadow: none;
	text-decoration: none;
	text-indent: none;
	outline: inherit;
}

.ui-content
{
	align-content: center;
	align-items: center;
	text-align: center;
	padding-left: 35px;
}

#videolist iframe
{
	display: block;
	
	max-width: 400px;
	max-height: 400px;
	
	width: 90%;
	width: relative;
	height:relative;
	
}

#videolist
{
	max-width: 800px;
	align-content: center;
	align-items: center;
	
}



#vgallery
{
	background: transparent url(../../images/Leather.jpg);
	text-align: center;
	text-decoration: none;
}

#gallery
{
	background: transparent url(../../images/Leather.jpg);
	text-align: center;
	text-decoration: none;
}

#info
{
	background: transparent url(../../images/Leather.jpg);
	text-align: center;
	text-decoration: none;
}

#blog
{
	background: transparent url(../../images/Leather.jpg);
	text-align: center;
	text-decoration: none;
}




.movietitle
{
	font-family:sans-serif;
	color: white;
	text-emphasis: none;
	text-shadow: none;
	text-decoration: none;
	text-indent: none;
	outline: inherit;
}

.ui-block-a a
{
	text-decoration: none;
	
}

.ui-block-b a
{
	text-decoration: none;
	
}

